%body
  %header
    %h1
      Welcome to the Enterprise Puppet Debugger
    %h2
      We're using Rails #{Rails.version}
  %section
    %p
      Future home of Enterprise Puppet Debugger Dashboard
    = link_to "Log Out", destroy_user_session_path, method: :delete