.container.my-3
  .row
    .col-xs-12
      My Profile
  .row
    .col-xs-12.col-sm-3
      .card
        .card-block
          %h4.card-title
            = @profile.firstname
            = @profile.lastname
          %p.card-text
            %small.text-muted=@profile.user.email
    .col-xs-12.col-sm-9
      = render 'form'


